.Personagem{

    display:flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;

}

.Personagem .btnRemover{
    margin-left: 15px;
    border-radius: 5px;
    padding:15px;
    cursor: pointer;
    text-decoration: none;
}

.Personagem .btnRemover:hover{
    background-color: black;
    color: yellow !important;
}

@media only screen and (min-width: 768px) {

    .Personagem{

        justify-content: center;
    
    }

}